# dotfiles to include
./.*
!.gitignore
!.clang-format
# files to include
./
./.*/
!./example.cpp
!./CMakeLists.txt
!./LICENSE
!./make_header.sh
# folders to include
!./include/*.hpp
!./include/argumentative/*/*.hpp
!./include/argumentative/argument/errors/*.hpp
!./tests/*