Argumentative
Argumentative.dSYM/Contents/Info.plist
Argumentative.dSYM/Contents/Resources/DWARF/Argumentative
build/Argumentative
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.3/CMakeSystem.cmake
build/CMakeFiles/3.17.3/CompilerIdCXX/a.out
build/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Argumentative.dir/Argumentative.cpp.o
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/compile_commands.json
build/rules.ninja
cmake-build-debug/Argumentative
cmake-build-debug/Argumentative.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/Argumentative.dir/Argumentative.cpp.o
cmake-build-debug/CMakeFiles/Argumentative.dir/build.make
cmake-build-debug/CMakeFiles/Argumentative.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Argumentative.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Argumentative.dir/depend.internal
cmake-build-debug/CMakeFiles/Argumentative.dir/depend.make
cmake-build-debug/CMakeFiles/Argumentative.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Argumentative.dir/flags.make
cmake-build-debug/CMakeFiles/Argumentative.dir/link.txt
cmake-build-debug/CMakeFiles/Argumentative.dir/progress.make
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
cmake-build-release/Argumentative.cbp
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.16.5/CompilerIdCXX/a.out
cmake-build-release/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/Argumentative.dir/build.make
cmake-build-release/CMakeFiles/Argumentative.dir/cmake_clean.cmake
cmake-build-release/CMakeFiles/Argumentative.dir/depend.make
cmake-build-release/CMakeFiles/Argumentative.dir/DependInfo.cmake
cmake-build-release/CMakeFiles/Argumentative.dir/flags.make
cmake-build-release/CMakeFiles/Argumentative.dir/link.txt
cmake-build-release/CMakeFiles/Argumentative.dir/progress.make
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/CMakeFiles/CMakeOutput.log
cmake-build-release/CMakeFiles/Makefile.cmake
cmake-build-release/CMakeFiles/Makefile2
cmake-build-release/CMakeFiles/progress.marks
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/Makefile
*.plist
merge_headers.dSYM/Contents/Resources/DWARF/merge_headers
cmake-build-release/CMakeFiles/Argumentative.dir/example.cpp.o
cmake-build-release/CMakeFiles/Argumentative.dir/depend.internal
cmake-build-release/CMakeFiles/Argumentative.dir/CXX.includecache
*.o
cmake-build-release/Argumentative 2
.DS_Store
.idea/Argumentative.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compilerexplorer.settings.xml
.idea/ideabuck.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/sortpp.xml
.idea/vcs.xml
.vscode/launch.json
.vscode/settings.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-63ee928336b207057f13.json
build/.cmake/api/v1/reply/codemodel-v2-a72b0b6147e3e46f6058.json
build/.cmake/api/v1/reply/index-2020-07-28T05-09-15-0279.json
build/.cmake/api/v1/reply/target-Argumentative-Debug-541d52dd94d39a742357.json
build/.ninja_deps
build/.ninja_log
include/.DS_Store
*.cmake
*.log
*.bin
cmake-build-release/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/.name
*.make
*.internal
*.cbp
*.includecache
*.check_cache
*.marks
tests/cmake-build-release/ArgumentTest
tests/cmake-build-release/CMakeCache.txt
tests/cmake-build-release/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
tests/cmake-build-release/CMakeFiles/ArgumentTest.dir/link.txt
tests/cmake-build-release/CMakeFiles/clion-environment.txt
tests/cmake-build-release/CMakeFiles/clion-log.txt
tests/cmake-build-release/CMakeFiles/Makefile2
tests/cmake-build-release/CMakeFiles/TargetDirectories.txt
tests/cmake-build-release/Makefile
