# dotfiles to include
./.*
!.gitignore
!.clang-format
# files to include
./
./.*/
!example.cpp
!CMakeLists.txt
!LICENSE
!make_header.sh
# folders to include
!include/*.hpp
!include/argumentative/*/*.hpp
!include/argumentative/argument/errors/*.hpp
!tests/*
.vscode/launch.json
.idea/Argumentative.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compilerexplorer.settings.xml
.idea/ideabuck.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/sortpp.xml
.idea/vcs.xml
.vscode/settings.json
Argumentative.dSYM/Contents/Info.plist
Argumentative.dSYM/Contents/Resources/DWARF/Argumentative
build/.DS_Store
build/ALL_TESTS_macosx10.15-x86_64.xctestrun
build/Argumentative.build/Debug/ALL_BUILD.build/dgph
build/Argumentative.build/Debug/ALL_BUILD.build/dgph~
build/Argumentative.build/Debug/ALL_BUILD.build/Script-5A9A343589654F0E8B9F1806.sh
build/Argumentative.build/Debug/ALL_TESTS.build/dgph
build/Argumentative.build/Debug/ALL_TESTS.build/dgph 2
build/Argumentative.build/Debug/ALL_TESTS.build/dgph~
build/Argumentative.build/Debug/ALL_TESTS.build/Script-887DB352BC6E46DA928E6FE0.sh
build/Argumentative.build/Debug/Argumentative.build/Argumentative.xcent
build/Argumentative.build/Debug/Argumentative.build/dgph
build/Argumentative.build/Debug/Argumentative.build/dgph~
build/Argumentative.build/Debug/Argumentative.build/Objects-normal/x86_64/Argumentative.LinkFileList
build/Argumentative.build/Debug/Argumentative.build/Objects-normal/x86_64/Argumentative_dependency_info.dat
build/Argumentative.build/Debug/Argumentative.build/Objects-normal/x86_64/example.d
build/Argumentative.build/Debug/Argumentative.build/Objects-normal/x86_64/example.dia
build/Argumentative.build/Debug/Argumentative.build/Objects-normal/x86_64/example.o
build/Argumentative.build/Debug/Argumentative.build/StaticAnalyzer/Argumentative/Argumentative/normal/x86_64/example.d
build/Argumentative.build/Debug/Argumentative.build/StaticAnalyzer/Argumentative/Argumentative/normal/x86_64/example.plist
build/Argumentative.build/Debug/ZERO_CHECK.build/dgph
build/Argumentative.build/Debug/ZERO_CHECK.build/dgph~
build/Argumentative.build/Debug/ZERO_CHECK.build/Script-263E7C1667A94E1E974ED204.sh
build/Argumentative.build/Release/ALL_TESTS.build/dgph
build/Argumentative.build/Release/ALL_TESTS.build/dgph~
build/Argumentative.build/Release/Argumentative.build/Argumentative.xcent
build/Argumentative.build/Release/Argumentative.build/dgph
build/Argumentative.build/Release/Argumentative.build/dgph~
build/Argumentative.build/Release/Argumentative.build/Objects-normal/x86_64/Argumentative.LinkFileList
build/Argumentative.build/Release/Argumentative.build/Objects-normal/x86_64/Argumentative_dependency_info.dat
build/Argumentative.build/Release/Argumentative.build/Objects-normal/x86_64/example.d
build/Argumentative.build/Release/Argumentative.build/Objects-normal/x86_64/example.dia
build/Argumentative.build/Release/Argumentative.build/Objects-normal/x86_64/example.o
build/Argumentative.build/Release/ZERO_CHECK.build/dgph
build/Argumentative.build/Release/ZERO_CHECK.build/dgph~
build/Argumentative.build/Release/ZERO_CHECK.build/Script-263E7C1667A94E1E974ED204.sh
build/Argumentative.xcodeproj/project.pbxproj
build/Argumentative.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
build/Argumentative.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/Argumentative.xcodeproj/project.xcworkspace/xcuserdata/viraltaco.xcuserdatad/UserInterfaceState.xcuserstate
build/Argumentative.xcodeproj/project.xcworkspace/xcuserdata/viraltaco.xcuserdatad/WorkspaceSettings.xcsettings
build/Argumentative.xcodeproj/xcshareddata/xcschemes/ALL_TESTS.xcscheme
build/Argumentative.xcodeproj/xcshareddata/xcschemes/Argumentative.xcscheme
build/Argumentative.xcodeproj/xcshareddata/xcschemes/ArgumentativeTests.xcscheme
build/Argumentative.xcodeproj/xcuserdata/viraltaco.xcuserdatad/xcschemes/xcschememanagement.plist
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.3/CMakeSystem.cmake
build/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/all-product-headers.yaml
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.d
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.dia
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.o
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX.LinkFileList
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX_dependency_info.dat
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
build/CMakeFiles/3.17.3/CompilerIdCXX/XCBuildData/4c797cb1be4e07de935003c782ddedd9-desc.xcbuild
build/CMakeFiles/3.17.3/CompilerIdCXX/XCBuildData/4c797cb1be4e07de935003c782ddedd9-manifest.xcbuild
build/CMakeFiles/3.17.3/CompilerIdCXX/XCBuildData/build.db
build/CMakeFiles/3.17.3/CompilerIdCXX/XCBuildData/BuildDescriptionCacheIndex-e8f9f0bcb7962be6c6600b2ec2112276
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
build/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
build/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
build/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
build/CMakeScripts/ALL_TESTS_cmakeRulesBuildPhase.makeDebug
build/CMakeScripts/ALL_TESTS_cmakeRulesBuildPhase.makeMinSizeRel
build/CMakeScripts/ALL_TESTS_cmakeRulesBuildPhase.makeRelease
build/CMakeScripts/ALL_TESTS_cmakeRulesBuildPhase.makeRelWithDebInfo
build/CMakeScripts/ReRunCMake.make
build/CMakeScripts/XCODE_DEPEND_HELPER.make
build/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeDebug
build/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeMinSizeRel
build/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelease
build/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelWithDebInfo
build/Debug/Argumentative
build/Release/Argumentative
build/tests/ALL_TESTS_macosx10.15-x86_64.xctestrun
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/ArgumentativeTests.xcent
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/dgph
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/dgph 2
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/dgph~
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/Objects-normal-asan-ubsan/x86_64/ArgumentativeTests.LinkFileList
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/Objects-normal-asan-ubsan/x86_64/ArgumentativeTests_dependency_info.dat
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/Objects-normal-asan-ubsan/x86_64/TestMain.d
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/Objects-normal-asan-ubsan/x86_64/TestMain.dia
build/tests/Argumentative.build/Debug/ArgumentativeTests.build/Objects-normal-asan-ubsan/x86_64/TestMain.o
build/tests/Argumentative.build/Release/ArgumentativeTests.build/dgph
build/tests/Argumentative.build/Release/ArgumentativeTests.build/dgph~
build/tests/ArgumentativeTests.xcodeproj/project.pbxproj
build/tests/ArgumentativeTests.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/tests/cmake_install.cmake
build/tests/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
build/tests/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
build/tests/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
build/tests/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
build/tests/CMakeScripts/ReRunCMake.make
build/tests/CMakeScripts/XCODE_DEPEND_HELPER.make
build/tests/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeDebug
build/tests/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeMinSizeRel
build/tests/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelease
build/tests/CMakeScripts/ZERO_CHECK_cmakeRulesBuildPhase.makeRelWithDebInfo
build/tests/Debug/ArgumentativeTests
cmake-build-release/tests/Makefile
cmake-build-release/tests/CMakeFiles/progress.marks
cmake-build-release/tests/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/TestMain.cpp.o
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/progress.make
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/link.txt
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/flags.make
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/DependInfo.cmake
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/depend.make
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/depend.internal
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/CXX.includecache
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/cmake_clean.cmake
cmake-build-release/tests/CMakeFiles/ArgumentativeTests.dir/build.make
cmake-build-release/tests/cmake_install.cmake
cmake-build-release/tests/ArgumentativeTests.cbp
cmake-build-release/tests/ArgumentativeTests
cmake-build-release/Makefile
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CMakeFiles/progress.marks
cmake-build-release/CMakeFiles/Makefile2
cmake-build-release/CMakeFiles/Makefile.cmake
cmake-build-release/CMakeFiles/CMakeRuleHashes.txt
cmake-build-release/CMakeFiles/CMakeOutput.log
cmake-build-release/CMakeFiles/CMakeError.log
cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/Argumentative.dir/progress.make
cmake-build-release/CMakeFiles/Argumentative.dir/link.txt
cmake-build-release/CMakeFiles/Argumentative.dir/flags.make
cmake-build-release/CMakeFiles/Argumentative.dir/example.cpp.o
cmake-build-release/CMakeFiles/Argumentative.dir/DependInfo.cmake
cmake-build-release/CMakeFiles/Argumentative.dir/depend.make
cmake-build-release/CMakeFiles/Argumentative.dir/depend.internal
cmake-build-release/CMakeFiles/Argumentative.dir/CXX.includecache
cmake-build-release/CMakeFiles/Argumentative.dir/cmake_clean.cmake
cmake-build-release/CMakeFiles/Argumentative.dir/build.make
cmake-build-release/CMakeFiles/ALL_TESTS.dir/progress.make
cmake-build-release/CMakeFiles/ALL_TESTS.dir/DependInfo.cmake
cmake-build-release/CMakeFiles/ALL_TESTS.dir/depend.make
cmake-build-release/CMakeFiles/ALL_TESTS.dir/depend.internal
cmake-build-release/CMakeFiles/ALL_TESTS.dir/cmake_clean.cmake
cmake-build-release/CMakeFiles/ALL_TESTS.dir/build.make
cmake-build-release/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-release/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/cmake_install.cmake
cmake-build-release/Argumentative.cbp
cmake-build-release/Argumentative
cmake-build-debug/tests/Makefile
cmake-build-debug/tests/CMakeFiles/progress.marks
cmake-build-debug/tests/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/tests/CMakeFiles/ArgumentativeTests.dir/progress.make
cmake-build-debug/tests/CMakeFiles/ArgumentativeTests.dir/link.txt
cmake-build-debug/tests/CMakeFiles/ArgumentativeTests.dir/flags.make
cmake-build-debug/tests/CMakeFiles/ArgumentativeTests.dir/DependInfo.cmake
cmake-build-debug/tests/CMakeFiles/ArgumentativeTests.dir/depend.make
cmake-build-debug/tests/CMakeFiles/ArgumentativeTests.dir/cmake_clean.cmake
cmake-build-debug/tests/CMakeFiles/ArgumentativeTests.dir/build.make
cmake-build-debug/tests/cmake_install.cmake
cmake-build-debug/tests/ArgumentativeTests.cbp
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/Argumentative.dir/progress.make
cmake-build-debug/CMakeFiles/Argumentative.dir/link.txt
cmake-build-debug/CMakeFiles/Argumentative.dir/flags.make
cmake-build-debug/CMakeFiles/Argumentative.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Argumentative.dir/depend.make
cmake-build-debug/CMakeFiles/Argumentative.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Argumentative.dir/build.make
cmake-build-debug/CMakeFiles/ALL_TESTS.dir/progress.make
cmake-build-debug/CMakeFiles/ALL_TESTS.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/ALL_TESTS.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/ALL_TESTS.dir/build.make
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/Argumentative.cbp
.idea/runConfigurations/ALL_TESTS.xml
.DS_Store
!_TODO_!
.DS_Store
!_TODO_!
